<!-- Para comentar una sola línea o cada línea de un bloque: CTRL K + CTRL C (NO requiere que el texto esté seleccionado, por defecto comenta la línea actual)

Para hacer lo opuesto al paso anterior (descomentar): CTRL K CTRL U (NO requiere que el texto esté seleccionado, por defecto comenta la línea actual)

Para hacer un comentario en bloque: CTRL SHIFT A (Requiere selección) -->

<!-- <app-contador></app-contador> -->
<!-- <app-heroe></app-heroe> -->
<!-- <app-listado></app-listado> -->
<app-mainpage></app-mainpage>
